.container{
  border-radius: 5px;
  padding: 40px;
  border: 1px solid #dadada;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  image{
    width: 100%;
    height: 300px;
  }

  .header{
    padding-bottom: 40px ;
    view:nth-child(1) {
      font-size: 42px;
      color: #333;
      font-weight: bold;
    }
  
    view:not(:nth-child(1)) {
      font-size: 30px;
      color: #a1a1a1;
    }
  }

  .desc{
    font-size: 36px;
  }
}